{% extends "lab_10/layout/base.html" %}

{% block content %}
<nav class="navbar-default navbar-fixed-top" id="navbar" style="margin-bottom:100px">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="title">CinemaXXI</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float:right; margin-top:10px">
            <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
                Logout </a>
        </ul>
      </div>
    </div>
  </nav>
<br> <br>
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>My Watch Later List</h1>
		</div>
	</div>
	<div class="flex">
		{% if watch_later_movies %}
    		{% for movie in watch_later_movies %}
    			<div class="flex-item text-center">
    				<a href= "{% url 'lab-10:movie_detail' movie.imdbid %}"><img src="{{movie.poster}}" class="img-thumbnail" style="width: 200px"></a>
    				<p>{{movie.title}} ({{movie.year}}) </p>
    			</div>
    		{% endfor %}
    	{% else %}
    	<div class="text-center">
    		<div class="alert alert-danger">
		  		<strong>Oops!</strong> You haven't added any movies yet
			</div>
    	</div>
    	
		{% endif %}
	</div>

{% endblock %}
