{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <link rel="icon" href="https://image.ibb.co/b4P6B5/me1.png">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<style>
    body{
        font-family: "Montserrat";
        background: linear-gradient(to right, #f6be66, #f18580 90%);
        font-size: 25x;
    }

    h1{  
        font-style: italic;
        font-weight: 20px;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .navbar.navbar-default .navbar-nav {
        width: 100%;
        text-align: center;
        font-size: 20px;
        
      }
      .navbar.navbar-default .navbar-nav > li {
        display: inline-block;
        float: none;
      }
    


    .profile{
        border-radius: 50%;
    }

    .biopic{
        display: flex;
        
    }
    
    .bioo{
        padding-left: 50px;
        color: white;
    }

    .pic{
        padding: 10px;
    }

    ul{
        list-style: none;
        font-size: 30px;
        text-align: right;
        color: white;
    }

    .am{
        text-align: right;
        font-size: 50px;
    }

    p{
        text-align: center;
    }


</style>

<body>

    <header>
        {% include "lab_4/partials/header.html" %}
    </header>

    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
