body {
  background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.cover {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  z-index: -1;
}

.picture, .data {
  z-index: 1;
}

.picture {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #fff;
  padding: 0.8rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
}


.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 4rem;
}

.feed {
  width: 80rem;
  margin: 1rem;
  padding: 0.8rem;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 0.35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 64em) {
  .feed {
    width: 100%;
  }
}
