{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <div class="biopic">
        <div class="pic">
            <img class="profile" src="https://image.ibb.co/fjFwB5/prima_jpg.jpg" alt="profile" height="200" width="200" />      
        </div>
        <div class="bioo">
            <section name="bio">
            <h2>Teresa Prima Tangis Pertiwi</h2>
                <p>
                {{content}}
                </p>    
            </section>
        </div>
    </div>

    
    <section name="about_me">
        <h2 class="am">I am...</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
