{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">
                    </div>
                    <form id="add-friend" action="#">
                            {% csrf_token %}
                            <label for="field_npm">npm</label>
                            <input id="field_npm" type="text" name="npm" class="form-control"/>
                            <button type="submit">Tambah</button>
                        </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        var addFriend = function(nama, npm) {
        $.ajax({
            method: "POST",
            url: "{% url "lab-7:add-friend" %}",
            data: { name: npm, npm: npm},
            success : function (friend) {
                var friendParsed = JSON.parse(friend)
                html = '<a class="list-group-item clearfix">' +
                    friendParsed.npm + ' ('+friendParsed.npm +
                    ')</a>';
                $("#friend-list").append(html)
                console.log(friendParsed)

            },
            error : function (error) {
                alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
            }
        });
    };

    $("#add-friend").on("submit", function () {
        name = $("#field_npm").val()
        npm = $("#field_npm").val()
        addFriend(name, npm)
        event.preventDefault();
    });

    $("#field_npm").change(function () {
        console.log( $(this).val() );
        npm = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:validate-npm" %}',
            data: {
                'npm': npm
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Mahasiswa dengan npm seperti ini sudah ada");
                }
            }
        });
    });

        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:all-friend-list' %}",
                success: function (friend_list) {
                    console.log(friend_list)
                    var friend_list = JSON.parse(friend_list);
                    $.each(friend_list, function(index, friend) {
                        var button = '<span class="pull-right">' +
                            '<button type="button" class="btn btn-xs btn-danger"' +
                            'onClick="deleteFriend(' + friend.pk + ')">' +
                            'Unfriend' +
                            '</button>' +
                            '</span>';
                        var html = '<div class="list-group-item clearfix"> <a class="list-group-item clearfix" href="javascript:detailFriend(' + friend.pk + ')">' + friend.fields.friend_name + '</a>' + button + '</div>';
                        $("#friend-list").append(html)
                    })
                },
                error: function(error){
                    alert("Kamu tidak punya teman.")
                }
            });
        });

  
        function deleteFriend(id) {
          window.open('../delete-friend/' + id + '/', '_self');
        }

        function detailFriend(id) {
            window.open('../friend-description/' + id + '/', '_self');
        }


    </script>
{% endblock %}
